<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/menu.xsd">
    <menu>
        <add id="MageOS_InventoryReservationsGrid::reservation"
             title="Reservations"
             module="MageOS_InventoryReservationsGrid"
             sortOrder="50"
             parent="Magento_InventoryAdminUi::inventory"
             action="catalog_inventory/reservation/index"
             resource="MageOS_InventoryReservationsGrid::view"/>
    </menu>
</config>
