<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="cataloginventory">
            <group id="reservation" translate="label" type="text" sortOrder="700" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Reservation</label>
                <field id="allow_delete" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0"
                       showInStore="0" canRestore="1">
                    <label>Allow Delete Mass Action</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[
                        Enabling Mass Action allows admin users with the appropriate ACL permissions to remove reservations,
                        even if they are uncompensated. This differs from the "Clean" button, which only removes compensated reservations.

                        Use this option only when absolutely necessary and with full awareness of its impact,
                        as it may lead to inventory inconsistencies.
                        ]]>
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>
